body {
    user-select: none;
    font :14px  arial;
    background : #36A;
}

.containerSite {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.containerCanvas {
    background-color: black;
    width: 70%;
    height: 70%;
}

.containerVideo {
    background-color: rgb(40, 83, 139);
    width: 25%;
    margin-left: 1.5%;
    margin-right: 3.5%;
    overflow: auto;
    border-radius: 12px;
}

.containerVideo h3{
    margin-left: 15px;
    margin-bottom: 0px;
}

.listElement {
    height: 84px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}

.listImgText {
    display: flex;
    align-items: center;
    width: 80%;
    cursor: pointer;
}

.listDrag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    font-size: 12px;
    text-align: center;
    cursor: grab;
}

.listDeleteVideo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: transparent;
    border: none;
    text-align: center;
    font-size: 15px;
    width: 10%;
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
}
  
.listDeleteVideo:hover {
    background-color: rgb(32, 66, 110);
    opacity: 1;
}

.active {
    background-color: rgb(58, 124, 210);
}

.containerSubVideo {
    flex-wrap: wrap;
    width: 100%;
}

.containerVideoTitle {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.containerVideoInput {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: gray;
    width: 70%;
    height: 100px;
    border-width: 2px;
    border-style: dashed solid;
    border-color: transparent;
}

#inputVideo {
    cursor: pointer;
    size: 30px;
}

#lastElement {
    height: 10px;
}